.logo{
    width:100px;
}

.logoContainer{
    // margin-top:4rem;
    // display:flex;
}
.paragraphContainer{

}
.certificateSection{
    display:flex;
    margin-top:3rem;
}
.courseInstitute{
    font-size: large;
    font-weight: bold;

   
}
.courseTitle{
    font-weight: bold;

}
.courseDate{
    font-size: small;
}
.certificateContainer{
    
    // display:flex;
}